client_id_hub                                 = "#{TF_VAR_CLIENT_ID_HUB}#"
client_secret_hub                             = "#{TF_VAR_CLIENT_SECRET_HUB}#"
subscription_id_hub                           = "#{TF_VAR_SUBSCRIPTION_ID_HUB}#"
tenant_id_hub                                 = "#{TF_VAR_TENANT_ID_HUB}#"
